.headerBox {
  display: flex;
  align-items: center;
  height: 45px;
  background-color: rgb(233, 32, 61);
  color: #fff;
}

.mapBox {
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  a{
    color: #ffffff;
    text-decoration: none;
  }
}

.searchBox {
  flex: 1;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  .icon-search{
    position: absolute;
    left: 5px;
    color: #cccccc;
    font-size: 14px;
  }
}

.userBox {
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}